@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Palmer Lake Print";
  src: url("/fonts/Palmer/PalmerLake-Print.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Palmer Lake Script";
  src: url("/fonts/Palmer/PalmerLake-Script.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
